// Keyframes, Imports

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600;700&display=swap');

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes animateChar {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-300%);
    }
}

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

    list-style: none;
    overscroll-behavior: contain;

}

html,
body,
#root {
    width: 100%;
    height: auto;
    overflow: hidden;

    font-family: "Poppins", sans-serif;

    scroll-behavior: smooth;

    background-color: #0a0d14;
}

html {
    overflow-y: auto;
}

// Titles

.title-large {
    font-size: 8rem;
}

.title-medium {
    font-size: 6rem;
}

.title-small {
    font-size: 4rem;
}

// Texts

.text-extra-large {
    font-size: 3rem;
}

.text-large {
    font-size: 2rem;
}

.text-medium {
    font-size: 1.25rem;
}

.text-small {
    font-size: 1rem;
}

.text-extra-small {
    font-size: 0.8rem;
}

// Sections 

.default-section {
    width: 100%;
    height: 100%;
    color: #eaeaea;
}

.default-section.light {
    background-color: #eaeaea;
}

.default-section.dark {
    background-color: #0a0d14;
    color: #eaeaea;
}

.default-section.padding-top-large {
    padding-top: 4.25rem;
}

.default-section.flex {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.default-section.full-vh {
    height: 100vh;
}

.default-section.mid-vh {
    height: 50vh;
}


// Containers
.default-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 0 1rem;
}

.default-container.column {
    flex-direction: column;
}

// Buttons
.default-button {
    width: 10rem;
    height: 2.5rem;
    padding-top: 1rem;

    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
    color: #0a0d14;

    border: 3px solid #0a0d14;
    border-radius: 2rem;

    transition: .5s ease;

}

.default-button::before {
    content: "";
    position: relative;
    top: 0%;
    width: 1rem;
    height: 1rem;

    background-color: #ffffff;
}

.default-button:hover {
    background-color: #A0BCFE;
    transition: .5s ease;
}

#hero-button {
    margin-top: 1rem;
}

// NavBar

.default-nav {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 10%;

    position: fixed;
    top: 2.5%;
    left: 25%;
    z-index: 10;

    background: #002b8fcb;
    box-shadow: 0 8px 32px 0 rgba(70, 72, 100, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);

    border-radius: 1.5rem;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;

                color: #e4e4e4;
                text-decoration: none;

                transition: .5s ease;

            }


            a:hover {
                color: #ffffff;

                transition: .2s ease;

            }

            a::after {
                content: "";
                position: relative;
                width: 0%;
                height: 1px;

                background-color: #ffffff;

                transition: .2s ease;
            }

            a:hover::after {
                width: 100%;
                height: 1px;

                background-color: #ffffff;

                transition: .5s ease;
            }

        }

    }
}

.default-nav.dark {
    background-color: #0a0d14;

    ul {
        color: #ffffff;
    }
}

.default-nav.light {
    background-color: #eaeaea;

    ul {
        color: #000000;
    }
}

.default-nav.glass {
    background: #eaeaea94;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#hero-section {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;

    background-color: #ebebeb;
    color: #0a0d14;

    .text-large {
        font-size: 1.5rem;
    }

    b {
        color: #81A6FD;
    }

    #hero-left-text {
        margin-top: 5%;
    }

    #hero-right-text {
        margin-top: 20%;
    }
    
}

.scroll-div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: 70%;
    left: 65%;

    width: 15rem;
    height: 15rem;

    border-radius: 50%;

    .scroll-text {
        width: 100%;
        height: 100%;
        position: absolute;

        animation: rotateText 10s linear infinite;

        span {
            position: absolute;
            top: -14.5%;
            left: 50%;
            font-size: 1.3rem;
            transform-origin: 0 500%;
        }
    }

    .scroll-arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 99%;
        height: 99%;

        border-radius: 50%;
        border: 5px solid #0a0d14;

        transition: .5s ease;

        z-index: 1;

        a {
            width: 120%;
            height: 120%;
        }

        svg {
            pointer-events: none;
            position: relative;

            top: 20%;
            left: 25%;

            rotate: 10deg;

            width: 50%;
            height: 50%;

            fill: #0a0d14;

            animation: scrollDown 1s linear infinite;

            z-index: 0;
        }
    }

    .scroll-arrow:hover {
        background-color: #A0BCFE;

        cursor: pointer;

        transition: .5s ease;
    }
}

#projects-section {
    padding-top: 10rem;
    height: auto;
}

#projects-section-header {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    width: 100%;
    height: 15rem;

    .splitted-text {
        display: flex;
        justify-content: center;
        align-items: center;
    
        gap: 2%;
    
        width: 100%;
        height: 30%;
    
        overflow: hidden;
        // background-color: #273861;
    
        .splitted-word {
            position: relative;
            top: 150%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .splitted-letters {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            font-size: 3rem;

        }
    }
}

.projects-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 0.25rem;

    width: 100%;
    height: auto;

    padding-bottom: 10rem;

    // background-color: #273861;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 6rem;

    overflow: hidden;

    transition: 1s ease;


    .project-content {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        cursor: pointer;

        border: 0px solid #ffffff5b;

        width: 99%;
        height: 0rem;

        transition: .5s ease;

        .content-description {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            gap: 1.3rem;

            opacity: 0;

            transition: .2s ease;

            .description-images {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .project-link {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                border: 1px solid;

                color: #ffffff;
                text-decoration: none;


                text-wrap: nowrap;
                cursor: pointer;

                width: 10rem;
                height: 2rem;

                border-radius: 15px;
                transition: .5s ease;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;

                }

            }

            .project-link:hover {
                background-color: #0333A6;
                transition: .5s ease;
            }

        }
    }
}


.project-infos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 99%;
    height: 6rem;
    
    border: 1px solid #ffffff5b;

    color: #ffffff5b;

    cursor: pointer;

    transition: .5s ease;

    z-index: 1;

    .project-header {
        font-size: 1.8rem;
    }

    div {
        width: 100%;
    }

    .project-number {
        position: relative;
        top: -20%;
        padding: 0 2%;
    }

    .project-tags {
        height: 90%;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 80%;

        flex-wrap: wrap;

        height: 100%;

        gap: 2%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                padding: 0 15px;

                border: 1px solid #ffffff5b;
                border-radius: 15px;
            }
        }
    }

    .project-expand {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: #ffffff5b;
            width: 10%;

            transform: rotate(-135deg);
            transition: .5s ease;
        }
    }
}

.project:hover>.project-infos {
    color: #ffffff;
    border-color: #ffffff;

    transition: .5s ease;

    li {
        div {
            color: #ffffff;
            border-color: #ffffff;

            transition: .5s ease;
        }
    }

    .project-expand {

        svg {
            fill: #ffffff;

            transform: rotate(-100deg);
            transition: .5s ease;
        }
    }
}

.project.clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;


    transition: .5s ease;

    .project-content {
        padding-top: 1rem;
        border-width: 1px;
        height: 100%;

        transition: 1s ease;
        cursor: auto;

        .content-description {
            opacity: 1;

            transition: .5s ease;
            transition-delay: .5s;
        }
    }

    .project-infos {
        color: #ffffff;
        border-color: #ffffff;

        height: 6rem;

        transition: .5s ease;

        li {
            div {
                border-color: #ffffff;
                transition: .5s ease;
            }
        }

        .project-expand {

            svg {
                fill: #ffffff;
    
                transform: rotate(0deg);
                transition: .5s ease;
            }
        }
    }
}





// Contact 

#contact-section {
    height: 100vh;
    background-color: #eaeaea;
    color: #0a0d14;

    #contact-header {
        padding-top: 10rem;
    }

    .form-container {
        width: 100%;

        form {
            height: 100%;
        }
    }
}


// Responsive

@media (max-width: 575px) {
    .default-nav {
        width: 100%;
        left: 0%;
        top: 1%;
        transition: .5s ease;
    }

    .project.clicked {
        height: 80rem;
    }

    .project-infos {

        .project-expand {
            display: none;
        }
        li {
            font-size: 0.8rem;
        }
    }
    
    #projects-section-header {
    
        .splitted-text {
            height: 15%;
    
            .splitted-word {
                top: 100%;
            }
            
            .splitted-letters {
        
                font-size: 1.3rem;
                transform: translateY(76%);
            }
        }
    }
}


@media (max-width: 768px) {
    .title-large {
        font-size: 3.25rem;
    }

    #hero-section {
        padding-top: 25%;

        #hero-right-text {
            margin-top: 5%;
        }
    }

    #projects-canvas {
        width: 100%;
    }

    .default-container {
        flex-wrap: wrap;

        div {
            height: 50%;
        }
    }

    .background {
        padding-top: 10rem;
    }

    .scroll-div {
        display: none;
    }

    .project-header {
        span {
            font-size: 1.2rem;
        }
    }

    .project {
        .project-expand {
            svg {
                width: 20%;
            }
        }
        .project-content {
            .content-description {

                .description-images {

                    width: 90%;
                    height: 90%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .project-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    background-color: #273861;
                    color: #ffffff;
                    text-decoration: none;


                    text-wrap: nowrap;
                    cursor: pointer;

                    width: 10rem;
                    height: 2rem;

                    border-radius: 15px;
                    transition: .5s ease;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 100%;

                    }

                }

                .project-link:hover {
                    background-color: #81A6FD;
                    transition: .5s ease;
                }

            }
        }
    }

}

@media (min-width: 769px) and (max-width: 991px) {
    .title-large {
        font-size: 3.25rem;
    }

    .default-container {
        flex-wrap: wrap;

        div {
            height: 50%;
        }
    }

    .scroll-div {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .scroll-div {
        display: none;
    }
}